.header {
    margin-left: 3%;
    /* Adjust the value as needed to push it more to the right */
    font-size: 2vw;
    font-weight: bold;
    color: black;
}

.container {
    display: flex;
    margin-top: 20px;
    /* Adds some space between the header and the new row */
    margin-left: 3%;
    margin-right: 3%;
}

.textSection {
    flex: 3;
    /* Takes up 3/4 of the space */
    /* Optional: adds some padding between the text and the image */
    font-size: 2vw;
    margin-top: 8%;
    color: black;
}

.imageSection {
    flex: 1;
    /* Takes up 1/4 of the space */
}

.imageSection img {
    width: 100%;
    /* Ensures the image fills the container width, maintaining aspect ratio */
    height: auto;
    /* Maintains the aspect ratio of the image */
}

.teamImagesContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.teamImageContainer {
    flex: 0 0 20%;
    /* Each container takes up 20% of the parent container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamImage {
    width: 20vw;
    /* Width is 20% of the viewport width */
    height: 20vw;
    /* Height is also 20% of the viewport width to maintain aspect ratio */
    /* Fixed height for the oval image */
    border: 5px solid #EFAC01;
    /* Yellow border */
    border-radius: 50%;
    /* Makes the image oval-shaped */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the area, useful if aspect ratio varies */
}

.teamText {
    margin-top: 10px;
    /* Space between the image and the text */
    text-align: center;
    color: black;
    font-size: 1.3vw;
    /* Centers the text below the image */
}


.bigText {
    font-size: 2vw;

    /* Customize the color as needed */
}


.yellowText {
    color: #EFAC01;
    /* Customize the color as needed */
}

.contactContainer {
    display: flex;
    margin-top: 20px;
    /* Adds space below the Contact Us section */
    margin-left: 3%;
    margin-right: 3%;
}

.contactText {
    flex: 1;
    /* Takes up half of the space in the container */
    font-size: 1.5vw;
    /* Adjust size as necessary */
    padding-right: 20px;
    margin-top: 7%;
    color: black;
    /* Ensures some space between text and the input field area */
}

.contactForm {
    flex: 1;
    /* Takes up the remaining half of the space */
    /* Light grey background, adjust color as needed */
    /* Rounded corners for the form */
    /* Padding inside the form area */
    display: flex;
    justify-content: flex-end;
    /* Center-align the future content */
    align-items: flex-end;
    /* Middle-align the future content */
    text-align: center;
    margin-bottom: 20px;
    /* Ensures any text inside is centered, useful for placeholders */
}


.inputField {
    width: 100%;
    /* Slightly less than full width to account for padding/margins */
    padding: 8px;
    /* Spacing above and below each input */
    font-size: 1.2vw;
    /* Larger font size for better readability */
    border: 2px solid #EFAC01;
    background-color: lightgray;
    color: black;
    /* Light grey border */
    /* Slightly rounded borders for the input fields */
}

.inputField:disabled {
    color: gray;
    /* Light gray text color */
    cursor: not-allowed;
    /* Show a 'not-allowed' cursor on hover */
    pointer-events: none;
    /* Make the button unclickable */
}

.textareaField {
    width: 100%;
    padding: 8px;
    font-size: 1.2vw;
    border: 2px solid #EFAC01;
    height: 100px;
    /* Larger height for message box */
    resize: vertical;
    background-color: lightgray;

    /* Allows the user to resize the textarea vertically */
}

.inputHalf {
    width: 50%;
    /* Half width minus a little to account for padding */
    font-size: 1.2vw;
    border: 2px solid #EFAC01;
    border-radius: 4px;
}

@media (max-width: 768px) {

    .container,
    .contactContainer,
    .teamImagesContainer {
        flex-direction: column;
        /* Stacks children vertically */
        align-items: center;
        /* Centers the items horizontally */
        margin-left: 0;
        /* Removes left margin for full width use */
        margin-right: 0;
        /* Removes right margin for full width use */
    }

    .header {
        font-size: 24px;
    }


    .textSection,
    .contactText {
        font-size: 18px;
        /* Adjusts font size for smaller screens */
        padding: 0 10px;
        /* Adds padding to maintain spacing from edges */
        text-align: center;
        /* Ensures text is centered on smaller screens */
        margin-top: 20px;
        /* Adds more vertical space between sections */
    }

    .imageSection,
    .teamImage,
    .contactForm {
        width: 80%;
        /* Adjusts width to better fit mobile screens */
        margin-top: 20px;
    }

    .teamImageContainer {
        width: 100%;
        /* Allows team images to take full width of the container */
        margin-bottom: 20px;
        /* Adds space between team members on mobile */
    }

    .teamImage {
        width: 50vw;
        /* Adjusts image size based on viewport width */
        height: 50vw;
        /* Maintains aspect ratio */
    }

    .teamText,
    .rectangleText,
    .contactText {
        font-size: 16px;
        /* Reduces font size for readability */
    }

    .inputField,
    .textareaField {
        font-size: 14px;
        width: 60vw;
        /* Ensures form elements use full available width */
        /* Adds space between form elements */
    }

    .viewAllUpdatesLink {
        width: 100%;
        /* Full width to center the text properly */
        margin-top: 20px;
        /* Adds space above the link */
    }

    .contactForm {
        justify-content: center;
        /* Center-align the future content */
        align-items: center;
    }

}

@media (max-width: 480px) {

    .textSection,
    .contactText {
        font-size: 16px;
        /* Further reduces font size for very small screens */
    }

    .teamImage {
        width: 60vw;
        /* Slightly larger to maintain visibility at very small sizes */
        height: 60vw;
        /* Keeps aspect ratio consistent */
    }

    .imageSection img,
    .teamImage img {
        width: 100%;
        /* Ensures images fully fill their containers */
        height: auto;
        /* Maintains aspect ratio automatically */
    }

    .headingText,
    .rectangleText,
    .teamText,
    .contactText {
        font-size: 14px;
        /* Decreases text size for consistency and readability */
    }

    .bigText {
        font-size: 18px;
        /* Adjusts larger text to fit smaller screens nicely */
    }

    .header {
        font-size: 24px;
    }

    .contactForm {
        justify-content: center;
        /* Center-align the future content */
        align-items: center;
    }

    .inputField,
    .textareaField {
        font-size: 14px;
    }


}