.bottomLine {
    width: 100%;
    /* Ensures the line spans the entire width */
    height: 3px;
    /* Sets the height of the line */
    background-color: #EFAC01;
    /* Uses the same yellow color used elsewhere */
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    /* Ensures vertical stacking */
    width: 80%;
    margin: 0 auto;
    /* Center the content */
    margin-bottom: -100px;
    margin-top: 50px;

}

.contentContainer {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #EFCD01 0%, #EE6C00 100%);
    /* Example gradient */
    border-radius: 2%/15%;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 20px;
}

.leftContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

.rightContent {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    /* Adjust as necessary for image spacing */
}

.apiImage {
    width: 50%;
    /* Adjust size as needed */
    height: 70%;
    border-radius: 10%;
}

.apiImage2 {
    width: 25%;
    /* Adjust size as needed */
    height: 70%;
    border-radius: 10%;
}



.highlight {
    color: #EFAC01;
    /* Yellow color for highlighted words */
}


.textComponent {
    margin-bottom: 20px;
    color: black;
    font-size: 1.2em;
}

.textLarge {
    font-size: 2em;
    font-weight: bold;
    margin-left: 3%;
    /* Larger text size */
}

.textWhiteAndBold {
    color: white;
    font-weight: bold;
}

.textWhite {
    color: white;
}

.textMargin {
    margin-left: 3%;
    margin-right: 3%;
}



.linkStyle:hover {
    text-decoration: underline;
    /* Ensures the underline appears on hover */
    text-decoration-color: white;
    /* Changes the underline color to white */
    text-decoration-thickness: 2px;
    /* Makes the underline thicker */
}



/* Existing CSS for base styles and other components */

@media (max-width: 768px) {
    .sectionContainer {
        flex-direction: column;
        margin-bottom: -100px;

    }




    .textComponent {
        font-size: 16px;
        text-align: center;
        margin-left: 0%;
    }

    .textLarge {
        font-size: 20px;
    }


    .contentContainer {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 10px 3%;
        border-radius: 10%/10%;
    }

    .leftContent,
    .rightContent {
        width: 100%;
        /* Use the full width for each section */
        justify-content: center;
        align-items: center;

    }

    .leftContent {
        padding: 0px;
    }

    .apiImage,
    .apiImage2 {
        width: 60%;
        /* Increase the width to make images larger */
        height: auto;
        /* Maintain aspect ratio */
        margin-right: 10px;
    }

    .apiImage2 {
        width: 33%;
    }

    .textComponent {
        text-align: center;
        /* Center-align text for better readability */
        font-size: 14px;
        /* Adjust font size for better legibility */
    }

    .textLarge {
        font-size: 18px;
        /* Increase font size of large text slightly */
    }

    .textMargin {
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 20px;
    }

}

@media (max-width: 480px) {
    .textComponent {
        font-size: 16px;
    }

    .textLarge {
        font-size: 20px;
    }


}