/* AppSection.module.css */
.appSection {
    display: flex;
    flex-direction: column;
    /* Changed to column to stack children vertically */
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.imageContainer {
    display: flex;
    justify-content: space-between;
    /* Ensures that the text elements are spaced out over the full width */
    align-items: center;
    /* Align items vertically */
    position: relative;
    width: 100%;
    height: 40vw;
    /* Adjust as needed */
    overflow: hidden;
}

.artImage {
    position: absolute;
    transition: all 0.3s ease;
    width: 20%;
    /* Adjust as needed */
    height: 20vw;
    margin-bottom: 7%;
    border-radius: 10%;
    box-shadow: 0 8px 16px var(--primary);
    /* Increased shadow */

}

.artImage5 {
    height: 35vw;
    /* Adjust height for image5 */
    margin-bottom: 0;
    border-radius: 10%/6%;
    /* Increased shadow */
}


.artImage1 {
    z-index: 1;
    left: calc(20%);
    transform: translateX(-50%) scale(0.8);
    height: 14vw;
}

.artImage2 {
    z-index: 2;
    left: calc(25%);
    transform: translateX(-50%) scale(0.85);
    height: 17vw;
}

.artImage3 {
    z-index: 3;
    left: calc(30%);
    transform: translateX(-50%) scale(0.9);
    height: 20vw;
}

.artImage4 {
    z-index: 4;
    left: calc(40%);
    transform: translateX(-50%) scale(0.95);
}

.artImage5 {
    z-index: 5;
    left: 50%;
    transform: translateX(-50%) scale(1);
}

.artImage6 {
    z-index: 4;
    right: calc(20%);
    transform: translateX(-50%) scale(0.95);
}

.artImage7 {
    z-index: 3;
    right: calc(10%);
    transform: translateX(-50%) scale(0.9);
    height: 20vw;
}

.artImage8 {
    z-index: 2;
    right: calc(5%);
    transform: translateX(-50%) scale(0.85);
    height: 17vw;
}

.artImage9 {
    z-index: 1;
    right: calc(0%);
    transform: translateX(-50%) scale(0.8);
    height: 14vw;
}

.leftText,
.rightText {
    position: absolute;
    width: 40%;
    /* Set each text block to occupy one-fourth of the container width */
    top: 80%;
    /* Adjust position as needed */
    font-size: min(1.7vw, 2em);
    /* Font size adjusts based on the width of the viewport */
    color: var(--text);
    ;
    text-align: center;
    z-index: 10;
    padding: 10px;
    /* Ensures text is above the images */
}

.leftText {
    left: 0;
    /* Align left text to the left side */
}

.rightText {
    right: 0;
    /* Align right text to the right side */
}

.leftText span,
.rightText span {
    background: var(--accent);
    -webkit-background-clip: text;
    background-clip: transparent;
    -webkit-text-fill-color: transparent;
    /* Yellow color for highlight */
    font-weight: bold;
}


.mainContent {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.leftContent {
    flex: 3;
    /* Takes up 75% of the flex container */
    font-size: 2.5em;
    /* Adjust font size as needed */
    color: var(--text);
}

.rightContent {
    flex: 1;
    /* Takes up 25% of the flex container */
    display: flex;
    flex-direction: column;
    /* Stacks the child elements vertically */
    align-items: flex-end;
    /* Aligns text to the start of the flex direction */
    color: var(--text);
    ;
    /* Adjust font size as needed */
}

.platform {
    display: flex;
    align-items: center;
}

.platformLogo {
    width: 1em;
    /* Adjust size as needed */
    height: 1em;
    /* Adjust size as needed */
    /* Space between logo and text */
}

.soonButton {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1em;
    outline: none;
}


.highlight {
    background: var(--accent);
    -webkit-background-clip: text;
    background-clip: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    /* Keeps the text bold if desired */
}

.additionalImage {
    width: 100%;
    /* Full width of the section or adjust as needed */
    display: block;
    /* Ensures the image is on its own line */
    margin-top: 20px;
    /* Adds space between the main content and this image */
}

.featuresImages {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    position: relative;
    /* Necessary for absolute positioning of SVG */
    overflow: hidden;
    /* Ensures the SVG does not overflow the container */
}

.svgBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    /* Ensures the SVG is behind the icons */
}

.featureIcon {
    width: 15%;
    /* Relative width for each icon */
    height: auto;
    z-index: 1;
    border: 2px solid var(--primary);
    border-radius: 17%;
    /* Ensures the SVG is behind the icons */
    /* Maintain aspect ratio */
}


.footerText {
    display: flex;
    width: 100%;
    /* Ensures the footer text spans the full width of the section */
    justify-content: space-evenly;
    /* Distributes the child elements evenly across the main axis */
    color: var(--text);
    margin-top: 20px;

    /* Adds vertical padding for visual separation */
}

.footerItem {
    flex: 1;
    /* Each item will take up equal space */
    text-align: center;
    /* Centers text within each flex item */
    font-size: 2em;
    /* Adjust font size as needed */
    background: var(--accent);
    -webkit-background-clip: text;
    background-clip: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    /* Keeps the text bold if desired */
    /* Sets the color of the 'Art Companion' text to yellow */
}

.footerDescriptionItem {
    flex: 1;
    /* Each item will take up equal space */
    text-align: center;
    /* Centers text within each flex item */
    font-size: 1.2em;
    /* Adjust font size as needed */
    padding-left: 20px;
    padding-right: 20px;
}




.soonButton:hover {
    text-decoration: underline;
}

.soonButton:focus {
    outline: none;
    /* Specifically removes outline on focus */
}

.bottomLine {
    width: 100%;
    /* Ensures the line spans the entire width */
    height: 3px;
    /* Sets the height of the line */
    background: var(--secondary);
    margin-top: 40px;
    /* Uses the same yellow color used elsewhere */
}

@media (max-width: 768px) {

    .footerItem,
    .footerDescriptionItem {
        font-size: 16px;
        /* Even smaller text to fit on small screens */
    }




    .leftContent,
    .rightContent {
        flex: 1;
        width: 90%;
        /* Adjust width to better fit mobile screens */
        text-align: center;
    }


    .platform {
        display: flex;
        align-items: center;
    }


    .additionalImage {
        width: 100%;
        /* Ensures image scales down to fit mobile screens */
    }

    .mainContent,
    .leftContent,
    .rightContent {
        flex-direction: column;
        /* Stack content vertically */
        align-items: center;
        /* Center-align the content */
        text-align: center;
        /* Text centered */
        font-size: 24px;
    }

    .rightContent {
        flex-direction: row;
        /* Stack content vertically */
        justify-content: center;

    }

    .platformLogo {
        width: 20px;
        /* Increase logo size for visibility */
        height: 20px;
        /* Maintain aspect ratio */
    }

    .soonButton {
        font-size: 14px;
        /* Adjust button font size */
        margin-top: 10px;
        /* Spacing after the logo */
    }




}