.roadmapContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 50px;
}

.textContainer {
    display: flex;
    width: 100%;
    /* Adjust as necessary */
    justify-content: space-between;
    /* This will place titleText and descriptionText on opposite ends */
    align-items: center;
    margin-bottom: 20px;
    /* Space between text and images */
}

.titleText {
    flex: 1;
    /* Takes 1/4 of the row */
    font-size: 2vw;
    /* Adjust font size as needed */
    margin-left: 3%;
    color: black;
    font-weight: bold;
}

.descriptionText {
    flex: 3;
    /* Takes 3/4 of the row */
    font-size: 2vw;
    /* Adjust font size as needed */
    padding: 20px;
    margin-left: 10%;
    text-align: center;
    color: black;
}

.highlight {
    color: #EFAC01;
    /* Yellow color for highlighted text */
}

.imageContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* This will help keep the images spaced out evenly */
    margin-top: 20px;
}

.ovalImage {
    margin: auto;
    /* Center the images within their container */
    border-radius: 17%;
    border: 4px solid #EFAC01;
    object-fit: cover;
    height: 100%;
    /* Keeps the height to maintain the oval height */
    width: 15%;
    /* Reduce width for a narrower appearance */
}



.lineWithCircles {
    position: relative;
    display: flex;
    /* Using flexbox to align circles */
    width: 100%;
    /* Span the full width */
    height: 5px;
    /* Height of the line */
    background-color: #EFAC01;
    /* Yellow color */
    margin-top: 20px;
    /* Space below the images */
    align-items: center;
    /* Aligns children (circles) vertically center */
}

.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #EFAC01;
    border-radius: 50%;
    border: 4px solid white;
    transform: translateX(-50%);
    /* Centers the circles based on their width */
}

.circle.left {
    left: 25%;
    /* Align to the middle of the first half */
}

.circle.right {
    left: 75%;
    /* Align to the middle of the second half */
}


.additionalImage {
    width: 100%;
    /* Full width of the section or adjust as needed */
    display: block;
    /* Ensures the image is on its own line */
    margin-top: 20px;
    /* Adds space between the main content and this image */
}

.textRow {
    display: flex;
    justify-content: space-between;
    /* Ensures text segments are evenly spaced */
    width: 100%;
    margin-top: 20px;
    color: black;
    /* Full width */
}

.textSegment {
    flex: 1;
    /* Each text takes up equal space */
    margin: 0 20px;
    /* Adds horizontal space between the text segments */
    font-size: 1.5vw;
    /* Appropriate text size */
    text-align: justify;
    /* Justifies the text for better readability */
}

.centerBlackText {
    text-align: center;
    /* Centers the text horizontally */
}

.centerText {
    text-align: center;
    color: #EFAC01;
    /* Centers the text horizontally */
}

.centerGrayText {
    color: gray;
    /* Centers the text horizontally */
}

.bottomLine {
    width: 100%;
    /* Ensures the line spans the entire width */
    height: 3px;
    /* Sets the height of the line */
    background-color: #EFAC01;
    /* Uses the same yellow color used elsewhere */
    margin-top: 100px;
}


/* Base styles for larger screens already defined */

@media (max-width: 768px) {
    .textContainer {
        flex-direction: column;
        /* Stack title and description vertically on smaller screens */
        align-items: center;
        /* Center alignment for better readability on narrow screens */
        text-align: center;
        /* Ensure text is centered */
        padding: 0 10px;
        /* Add some padding for a better layout */
    }

    .titleText {
        font-size: 20px;
        /* Decrease font size for mobile devices */
        margin-left: 0;
        /* Remove left margin */
        padding: 10px 0;
        /* Add padding to separate title and description visually */
        width: 100%;
        margin-top: 50px;
        /* Use full width for better control */
    }

    .descriptionText {
        font-size: 16px;
        /* Decrease font size for mobile devices */
        margin-left: 0;
        /* Remove left margin */
        padding: 10px 0;
        /* Add padding to separate title and description visually */
        width: 100%;
        /* Use full width for better control */
    }


    .textSegment {
        font-size: 18px;
        /* Slightly smaller than on desktop to fit more content on the screen */
        text-align: center;
        /* Centers the text to match the alignment of the headers */
    }

    .centerBlackText,
    .centerText,
    .centerGrayText {
        font-size: 18px;
        /* Uniform font size for all centered texts */
    }

}

/* Further adjustments for very small devices */
@media (max-width: 480px) {

    .titleText {
        font-size: 20px;
        /* Further reduce font size for smaller devices */
    }

    .descriptionText {
        font-size: 16px;
    }

    .textSegment {
        font-size: 16px;
        /* Further reduce the font size for very small screens */
    }

    .centerBlackText,
    .centerText,
    .centerGrayText {
        font-size: 16px;
        /* Keep uniform font size across all text types */
    }



}


@media (min-width: 1920px) {
    .roadmapContainer {
        width: 80%;
        margin: 0 auto;
        /* Center the content */
    }
}