.updatesSection {
    background: linear-gradient(to bottom right, #EFD701, #EE6400);
    color: #333;
    width: 100%;
    padding: 20px;
    width: 80%;
    margin: 0 auto;

}

.headingText {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2em;
    text-align: flex-start;
    margin-left: 40px;
}

.bottomLine {
    width: 100%;
    height: 3px;
    background-color: white;
}

.rectangleContainer {
    display: flex;
    flex-wrap: wrap;
    /* Allows rectangles to wrap onto the next line on smaller screens */
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 50px;
}

.rectangle {
    background: #FFF;
    width: 22%;
    /* Adjust for smaller screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.rectangle:hover {
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.5);
}

.rectangleImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.rectangleText {
    font-size: 1em;
    text-align: center;
    color: #333;
}

.yellowText {
    color: #EFAC01;
    font-weight: bold;
    font-size: 1.5em;
}

.viewAllUpdatesLink {
    text-align: center;
    margin-left: 0;
    /* Adjust for smaller screens */
    width: 100%;
    /* Full width for better accessibility */
}

.viewAllUpdatesText {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 2em;
    ;
    /* Smaller font size for mobile */
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .rectangle {
        width: 45%;
        /* Use 45% for better fit in smaller screens */
        margin: 10px;
        /* Adds more space around each rectangle */
    }

    .rectangleText {
        font-size: 16px;
    }

    .yellowText {
        font-size: 20px;
    }


    .headingText {
        font-size: 24px;
        /* Smaller font size for headings */
        text-align: center;
        /* Center align the headings */
        margin-left: 0;
        /* Remove margin for center alignment */
    }

    .viewAllUpdatesText {
        font-size: 20px;
        /* Adjust font size for better readability on small devices */
    }
}

@media (max-width: 480px) {
    .rectangle {
        width: 90%;
        /* Full width for very small screens */
    }

    .headingText {
        font-size: 20px;
        /* Even smaller for very small devices */
    }

    .rectangleText {
        font-size: 16px;
    }

    .yellowText {
        font-size: 20px;
    }

}