.updatesSection {
    background: linear-gradient(to bottom right, var(--primary), var(--accent));
    color: #333;
    width: 100%;
    padding: 20px;
    width: 80%;
    margin: 0 auto;

}

.headingText {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2rem;
    text-align: flex-start;
    margin-left: 40px;
}

.bottomLine {
    width: 100%;
    height: 3px;
    background-color: var(--secondary);
}

.rectangleContainer {
    display: flex;
    flex-wrap: wrap;
    /* Allows rectangles to wrap onto the next line on smaller screens */
    justify-content: space-around;
    margin-top: 40px;
}

.rectangle {
    background: #FFF;
    width: 22%;
    /* Adjust for smaller screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 20px var(--primary);
    cursor: pointer;
}

.rectangle:hover {
    box-shadow: 0 4px 40px var(--secondary);
}

.rectangleImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.rectangleText {
    font-size: 1rem;
    text-align: center;
    color: black;
}

.yellowText {
    color: var(--accent);
    font-weight: bold;
    font-size: 1.5rem;
}

.viewAllUpdatesLink {
    text-align: center;
    margin-left: 0;
    /* Adjust for smaller screens */
    width: 100%;
    /* Full width for better accessibility */
}

.viewAllUpdatesText {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    ;
    /* Smaller font size for mobile */
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .rectangle {
        width: 90%;
        /* Use 45% for better fit in smaller screens */
        margin: 10px;
        /* Adds more space around each rectangle */
    }

    .rectangleText {
        font-size: 1rem;
    }

    .yellowText {
        font-size: 1.25rem;
    }


    .headingText {
        font-size: 1.5rem;
        /* Smaller font size for headings */
        text-align: center;
        /* Center align the headings */
        margin-left: 0;
        /* Remove margin for center alignment */
    }

    .viewAllUpdatesText {
        font-size: 1.25rem;
        /* Adjust font size for better readability on small devices */
    }
}